body{
    font-family:'Inter',sans-serif;
    background:var(--background);
    color:var(--on-surface);
    font-size:14px;
    height:100%;
    margin:0
}

.app{
    display:flex;
    height:100vh;
    overflow:hidden
}

.main{
    flex:1;
    display:flex;
    flex-direction:column;
    min-width:0;
    overflow:hidden
}

